<!-- Share Modal -->
<div class="modal" id="shareModal">
    <div class="modal-content">
        <h3>Share Calculator</h3>
        <div class="share-options">
            <button class="share-btn facebook">
                <i class="fab fa-facebook"></i> Facebook
            </button>
            <button class="share-btn twitter">
                <i class="fab fa-twitter"></i> Twitter
            </button>
            <button class="share-btn whatsapp">
                <i class="fab fa-whatsapp"></i> WhatsApp
            </button>
            <button class="share-btn email">
                <i class="fas fa-envelope"></i> Email
            </button>
        </div>
        <div class="share-link">
            <input type="text" value="https://smartmortgage.com/calc/abc123" readonly>
            <button class="btn btn-primary">Copy Link</button>
        </div>
    </div>
</div>
